{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div style="display: flex; margin-left: 250px; margin-right: 250px;">
    <div class="bigDiv" style="margin-top: 50px; margin-right: 50px; text-align: justify;">
        <h1 style="color: navy;">
            The Ultimate Bucket List
        </h1>
        <p>
            Before you even ask: Yes. I know the bucket list is really, really big. Yes. I do think that I can check off everything on it. Anything is possible in my mind.A bucket list is a list of the experiences or achievements that a person hopes to have or accomplish during their lifetime.  A bucket list is an itemized list of goals people want to accomplish before they “kick the bucket” — or die. 
        </p>
        <p>
            It is my hope that you use these bucket list app to create your own cool and adventurous life list. And then you take at least one step everyday to complete the items on it. This bucket list has completely changed my life (for the better, of course!) and I wish the same for you.
        </p>
        <h4 style="color: blue;">
            What is the value of a bucket list?
        </h4>
        <p>
            The focus of a bucket list is to live a life with hopes and aspirations. Making a bucket list allows us to reflect on our values and goals, and identify important milestones and experiences that we want to have in our lifetime.
        </p>
        <h4 style="color: blue;">
            Is a bucket list used only in the context of death?
        </h4>
        <p>
            Not at all. The bucket list has now become a way to denote a list of things a person wants to accomplish before a specific event in their lives. For example, many teenagers have "high school bucket list", "prom night bucket lis
        </p>
    </div>
    <div>
        <img src="static/bucket-list.jpg" alt="bucket list" width="560" height="445">
    </div>
</div>
{% endblock %}
